# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage/
test-results/
playwright-report/
playwright/.cache/

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# build output
dist/

# generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
