---
import script from "tailwindcss-noscript/script"
import "../styles/index.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<script src={script}></script>
	</head>
	<body>
		<div class="hidden js:block">JS enabled!</div>
		<div class="block js:hidden">JS disabled!</div>
	</body>
</html>
