---
import { script } from "tailwindcss-noscript"
import "../styles/index.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src={script}></script>
  </head>
  <body>
    <div data-testid="js" class="hidden js:block">JS enabled</div>
    <div data-testid="nojs" class="block js:hidden">JS disabled</div>
  </body>
</html>
